@model IEnumerable<EMS.Models.Salary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalaryRecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalaryRecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalaryRecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
